Home Page
<!Doctype html>
<head>
    <title>Flex - Home Page</title>
</head>
<body>
    <h1>Flex</h1>
    <p>Build your own exercise plan.</p>

<form action = "/search" method = "get">
    <label for="search">Search for exercises by muscle name:</label>
    <input type="text" id="search" name="muscle" placeholder="Enter a muscle name">
    <br><br>

    <label for="level"> Select exercise difficulty:</label>
    <select id="level" name="level">
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="expert">Expert</option>
        <option value="all">All</option>
    </select>
    <br><br>

        <button type="submit">Search</button>
    </form>
    </body> 
</html>