<!Doctype html>
<head>
    <title>Flex - Home Page</title>
</head>
<body>
    <h1>Flex</h1>
    <p>Build your own exercise plan.</p>

<form id="searchForm" action="/search" method="get">
    <label for="level">Select exercise difficulty:</label>
    <select id="level" name="level">
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="expert">Expert</option>
        <option value="all">All</option>
    </select>
    <input type="hidden" name="muscle" id="muscleInput" value="">
    <div style="position: relative; width:600px; height:450px; margin-top: 10px;">   
        <img src="/static/images/muscle_map.jpeg" alt="muscle_map" style="width:100%; height:100%;">
        <!-- muscle buttons -->
        <button type="button" style="position: absolute; top: 7px; left: 66px; width: 40.62px; height: 20.31px;" onclick="submitMuscle('neck')">Neck</button>
        <button type="button" style="position: absolute; top: 37px; left: 61px; width: 44.90px; height: 24.05px;" onclick="submitMuscle('traps')">Traps</button>
        <button type="button" style="position: absolute; top: 70px; left: 36px; width: 69.49px; height: 22.99px;" onclick="submitMuscle('shoulders')">Shoulders</button>
        <button type="button" style="position: absolute; top: 106px; left: 65px; width: 42.23px; height: 19.24px;" onclick="submitMuscle('chest')">Chest</button>
        <button type="button" style="position: absolute; top: 137px; left: 52px; width: 51.32px; height: 21.92px;" onclick="submitMuscle('biceps')">Biceps</button>
        <button type="button" style="position: absolute; top: 176px; left: 40px; width: 61.47px; height: 19.24px;" onclick="submitMuscle('forearms')">Forearms</button>
        <button type="button" style="position: absolute; top: 232px; left: 22px; width: 78.04px; height: 25.66px;" onclick="submitMuscle('abdominals')">Abdominals</button>
        <button type="button" style="position: absolute; top: 273px; left: 22px; width: 79.65px; height: 17.11px;" onclick="submitMuscle('quadriceps')">Quadriceps</button>
        <button type="button" style="position: absolute; top: 302px; left: 55px; width: 51.85px; height: 19.24px;" onclick="submitMuscle('calves')">Calves</button>
        <button type="button" style="position: absolute; top: 35px; left: 266px; width: 84.46px; height: 21.92px;" onclick="submitMuscle('middle back')">Middle Back</button>
        <button type="button" style="position: absolute; top: 2px; left: 494px; width: 41.16px; height: 21.92px;" onclick="submitMuscle('traps')">Traps</button>
        <button type="button" style="position: absolute; top: 40px; left: 496px; width: 69.49px; height: 20.31px;" onclick="submitMuscle('shoulders')">Shoulders</button>
        <button type="button" style="position: absolute; top: 73px; left: 495px; width: 36.35px; height: 21.92px;" onclick="submitMuscle('lats')">Lats</button>
        <button type="button" style="position: absolute; top: 111px; left: 500px; width: 49.18px; height: 21.38px;" onclick="submitMuscle('triceps')">Triceps</button>
        <button type="button" style="position: absolute; top: 154px; left: 497px; width: 65.75px; height: 22.45px;" onclick="submitMuscle('forearms')">Forearms</button>
        <button type="button" style="position: absolute; top: 194px; left: 499px; width: 74.30px; height: 21.38px;" onclick="submitMuscle('lower back')">Lower Back</button>
        <button type="button" style="position: absolute; top: 231px; left: 496px; width: 43.30px; height: 18.71px;" onclick="submitMuscle('glutes')">Glutes</button>
        <button type="button" style="position: absolute; top: 267px; left: 499px; width: 79.11px; height: 19.24px;" onclick="submitMuscle('hamstrings')">Hamstrings</button>
        <button type="button" style="position: absolute; top: 302px; left: 499px; width: 47.57px; height: 21.38px;" onclick="submitMuscle('calves')">Calves</button>
    </div>
</form>
<script>
// submits both the level value and the muscle value
function submitMuscle(muscle) {
    document.getElementById('muscleInput').value = muscle;
    document.getElementById('searchForm').submit();
}
</script>
</div>
</body> 
</html>